<!doctype html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>

    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js" type="text/javascript" charset="utf-8" async defer></script>
    <!-- NVD 3 -->
    
    <script src="lib/bower_components/d3/d3.js"></script>
    <script src="lib/bower_components/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
    <script src="lib/bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="lib/bower_components/angular-bootstrap/ui-bootstrap.js"></script> 
    <script src="lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> 

    <script src="lib/bower_components/angular-dialog-service/dist/dialogs.js"></script>   
    <link rel="stylesheet" href="lib/bower_components/angular-dialog-service/dist/dialogs.css"> 
    <link rel="stylesheet" href="lib/bower_components/nvd3/build/nv.d3.css">
  </head>

  <body ng-controller="appController">

    <div class="container-full" >
      <div class="row">
        <h3>Chart Builder</h3>
      </div>
      <div class="row">
        <button type="button" class="btn btn-default" ng-repeat="template in templates" ng-click="loadTemplate(template)">{{template.name}}</button>
        <div class="pull-right">
          <button type="button" class="btn btn-default" ng-click="openToolbox()">Save</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-show="false">
          
          <form action="" method="POST" role="form">
            <legend>Form title</legend>
            <div class="form-group">
              <label for="">Title</label>
              <input type="text" class="form-control" ng-model="selectedPanel.title" 
              ng-change="onPanelTitleChange()" placeholder="Input field">
              <label for="">X Axis Title</label>
              <input type="text" class="form-control" ng-model="selectedPanel.chart.xAxis.axisLabel" 
              ng-change="onPanelTitleChange()" placeholder="Input field">
              <label for="">Y Axis Title</label>
              <input type="text" class="form-control" ng-model="selectedPanel.chart.yAxis.axisLabel" 
              ng-change="onPanelTitleChange()" placeholder="Input field">
              <label for="">Data Source</label> <br/>
              <select name="mySelect" id="mySelect"
                ng-options="option.name for option in sources"
                ng-model="selectedSource" ng-change="onSourceChanged()"></select><br/>

              <label for="">X Field</label><br/>
              <select name="mySelect" id="mySelect"
                ng-options="column.name for column in selectedSource.cols"
                ng-model="selectedSource.xField"></select><br/>

                <label for="">Y Field</label><br/>
              <select name="mySelect" id="mySelect"
                ng-options="column.name for column in selectedSource.cols"
                ng-model="selectedSource.yField"></select> <br/>

              <button type="button" class="btn btn-primary" ng-click="applyNewDataSource()">Apply</button>
            </div>  
          </form>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="chart in chartTypes" ng-click="onChartSelect(chart)">{{chart.title}}</li>
            
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-include="selectedTemplate.file">
        
        </div>
      </div>
      
    </div>
    
  
    <script src="app.js"></script>
    <script src="chartTypeFactory.js"></script>
    <script src="templates/template-controller/chartCtrl.js"></script>
  </body>
</html>
