
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-default" >
              <div class="panel-heading">
                <h3 class="panel-title">Summary - Template 2</h3>
              </div>
              <div class="panel-body">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
              </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="panel panel-default" ng-controller="panel1Ctrl">
              <div class="panel-heading" ng-click="onPanelSelect(panelData)">
                <h3 class="panel-title">{{panelData.title}}</h3>
              </div>
              <div class="panel-body">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
              </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="panel panel-default" ng-controller="panel2Ctrl">
              <div class="panel-heading" ng-click="onPanelSelect(panelData)">
                <h3 class="panel-title">{{panelData.title}}</h3>
              </div>
              <div class="panel-body">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
              </div>
          </div>
        </div>
        
      </div>
    