
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-default" ng-controller="summaryCtrl">
              <div class="panel-heading">
                <h3 class="panel-title">Summary - Template 1</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="panel panel-default" ng-controller="panel1Ctrl">
              <div class="panel-heading" >
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default btn-sm" ng-click="onPanelSelect(panelData)"><i class="fa fa-lg fa-cog"></i></a>
                </div>
                <h3 class="panel-title">{{panelData.title}}</h3>

              </div>
              <div class="panel-body">

                <nvd3 options="options" data="data" api="api" class="with-3d-shadow with-transitions"></nvd3>
              </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="panel panel-default" ng-controller="panel2Ctrl">
              <div class="panel-heading" >
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default btn-sm" ng-click="onPanelSelect(panelData)"><i class="fa fa-lg fa-cog"></i></a>
                </div>
                <h3 class="panel-title">{{panelData.title}}</h3>
              </div>
              <div class="panel-body">
                <nvd3 options="options" data="data" api="api" class="with-3d-shadow with-transitions"></nvd3>
              </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="panel panel-default" ng-controller="panel3Ctrl">
              <div class="panel-heading" >
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default btn-sm" ng-click="onPanelSelect(panelData)"><i class="fa fa-lg fa-cog"></i></a>
                </div>
                <h3 class="panel-title">{{panelData.title}}</h3>
              </div>
              <div class="panel-body">
                <nvd3 options="options" data="data" api="api" class="with-3d-shadow with-transitions"></nvd3>
              </div>
          </div>
        </div>
      </div>
    